/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
   font-family: 'OpenSans';
   src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Play-Bold';
   src: url(fonts/Play-Bold.ttf) format('truetype');
}
@font-face {
   font-family: 'Play-Regular';
   src: url(fonts/Play-Regular.ttf) format('truetype');
}
body {
    /*background-image: url('images/bg.png') !important;*/
    background-color: white;
    font-family: 'OpenSans', sans-serif;
}
.cabecera{
    -webkit-transition: background 1s linear;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 570px;
    text-align: center;
    font-family: 'Play-Bold', sans-serif;
    font-size:42px;
    color: #fff;
    padding: 261px 25% 210px 25%;
}

.cabecera-cont{
    background-color: rgba(0,0,0, 0.5);
    padding: 15px 30px;
}
.cabecera-cont p{
    font-family: 'Play-Regular', sans-serif;
    font-size:22px;
}
.contenido{
    background: #F6F6F6;
}
.navbar-brand{
    padding: 3px 3px;
}
.navbar{
    border-radius: 0px;
    font-family: 'Play-Regular', sans-serif;
    font-size:16px;
    padding: 8px 0;
    -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.53);
    transition: 0.2s;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:before{
    background: #544F83;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background: #544F83;
    color: white
}
.navbar-inverse{
    background-color: rgba(0,0,0,0.9);
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a,  .navbar-inverse .navbar-nav>.active>a:hover{
    background: #544F83;
}
.dropdown-menu>li>a:before{
    color: white;
}
.logo{
    height: 45px;
    margin-right: 12px;
    margin-left: 11px;
}
.navbar-nav>li>a{
    line-height: 21px;
}
.navbar-fixed-top{
    border-width: 0 0 0px;
}
.icons-right{
    float:right;
}
.icons-right a{
    font-size: 25px;
    padding: 10px 10px 6px 10px;
    color: #fff;
}
.icons-right a:before{
    background: #544F83;
}
.flotar-carro{
    left: -10px;
}
.button-gf{
    padding: 10px 15px;
    border: 2px solid #544F83;
    background: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s
}
.button-gf:hover{
    background: #544F83;
    color:#fff;
    text-decoration: none;
    transition: 0.3s
}
#webTicker > li{
    font-family: 'Play-Regular', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
.noticias{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #000;
    -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.53);
}
.njuego{
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 5px;
    background-color: #398ecb;
}
.trucos{
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 5px;
    background-color: #3bbaa9;
}
.sabias{
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 5px;
    background-color: #ce4e4e;
}
.noticias-title{
    position:absolute;
    height:40px;
    top: 0px;
    background-color:#554E86;
    font-family: 'Play-Regular', sans-serif;
    padding: 4px 15px;
    font-size: 1.7em;
    color: #fff;
}
.novedades{
    margin: 30px 0;
    text-align: center;
}
.section-title{
    margin-bottom: 40px;
}
.section-title h2{
    font-family: 'Play-Bold', sans-serif;
    font-size: 2.5em;
    color: #554E86;
}
.cont-juego h2{
    font-family: 'Play-Bold';
    font-size: 1.3em;
    margin-top: 0px;
}
.cont-juego img{
    max-width: 250px;
    transform: perspective(300px) rotateY(0deg);
    transition: 0.3s;
}
.cont-juego img:hover{
    transform: perspective(300px) rotateY(-12deg);
    transition: 0.3s;
}
.lightbox{
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
.lightbox:target {
    outline: none;
    display: block;
}
.lightbox-content {
    max-height: 80%;
    width: 50%;
    margin: 95px auto;
}
.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


/*Versiones Moviles*/
@media (max-width: 768px){
    .navbar{
        padding: 8px 0px;
    }
    .cabecera{
        min-height: 370px;
        font-size:32px;
        padding: 161px 5% 110px 5%;
    }
    .noticias-title{
        padding: 8px 15px;
        font-size: 1.4em;
    }
    .ver-trailer{
        margin-top: 10px;
        text-align: center;
    }
    .lightbox-content {
        width: 90%;
    }
}



