

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-brand{
    padding: 3px 3px;
}
.navbar{
    border-radius: 0px;
}
.jumbotron {
    margin-bottom: 0px;
}
.logo{
    height: 48px;
}














